.head-layout {
  display: flex;
  min-height: 100vh;
}

/* Main content wrapper */
.head-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 220px; /* sawa na width ya sidebar (DivisionSidebar.css) */
}

/* Area ya content pekee */
.head-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}
